<div class='footer'>
    <p>The site was created by
        {{#if name}} {{name}} {{else}}Vuong{{/if}}. It uses data from &nbsp;
        <a href='https://www.mapbox.com/' target='_blank'> mapbox.com</a>&nbsp;
        and &nbsp;
        <a href='https://openweathermap.org/.com' target='_blank'>
            openweathermap.com</a></p>
</div>