<div class='header'>
    <div style='margin-left: 10px'><a href='/'>Home</a></div>
    <div style='margin-left: 10px'><a href='/about'>About</a></div>
    <div style='margin-left: 10px'><a href='/help'>Help</a></div>
</div>