@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap");
html {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 30px;
  display: flex;
  color: #ccc;
}
.header a {
  text-decoration: none;
  margin-left: 20px;
  color: rgb(43, 43, 43);
  font-size: 20px;
  font-weight: 500;
}
.header a:hover {
  opacity: 0.8;
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content .about_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content .about_content .author {
  width: 30%;
  height: auto;
  background-image: url("../image/author.avif");
  background-position: center;
  padding-top: 50%;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 16px;
}
.content .title {
  text-align: center;
  margin-bottom: 20px;
}
.content .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .search input {
  font-family: inherit;
  font-size: 16px;
  height: 40px;
  padding-left: 10px;
}
.content .search button {
  margin-left: 10px;
  font-size: 16px;
  font-family: inherit;
  height: 40px;
}
.content .weather_details .weather_title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.265);
  margin-top: 16px;
  padding: 0 16px;
  border-radius: 26px;
}
.content .weather_details .forecast {
  background-image: url("../image/author.avif");
  background-size: cover;
  background-position: center;
  padding: 30px;
  border-radius: 16px;
  margin-top: 16px;
  color: #171717;
  width: 350px;
  overflow: hidden;
}
.content .weather_details .forecast.clouds {
  background-image: url("../image/clouds.avif");
}
.content .weather_details .forecast.rain {
  color: rgb(255, 255, 255);
  background-image: url("../image/rain.avif");
}
.content .weather_details .forecast.mist {
  background-image: url("../image/mist.avif");
}
.content .weather_details .forecast.haze {
  background-image: url("../image/haze.avif");
}
.content .weather_details .forecast.fog {
  background-image: url("../image/fog.avif");
}
.content .weather_details .forecast.clear {
  background-image: url("../image/clear.avif");
}
.content .weather_details .forecast .forecast_title {
  font-size: 35px;
}
.content .weather_details .forecast .forecast_weather {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}
.content .weather_details .forecast .forecast_weather .weather_temp {
  font-size: 60px;
}
.content .weather_details .forecast .forecast_description {
  display: flex;
  flex-direction: column;
}
.content .weather_details .forecast .forecast_description .des_title {
  font-size: 30px;
  font-weight: 600;
}
.content h1 {
  color: rgb(49, 49, 49);
  font-size: 60px;
  margin: 0;
}
.content h3 {
  color: rgb(97, 97, 97);
  margin: 0;
}
.content p {
  margin: 0;
}
.content a {
  color: rgb(0, 116, 170);
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 16px;
}

/*# sourceMappingURL=styles.css.map */
