<div class='title'><h1>About</h1>
    <h3>A little bit about me...</h3></div>
<div>
<img src='./image/code.png' />
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eaque
    rem expedita perferendis quibusdam saepe veniam quam quod aut architecto?
    Suscipit animi repellat quo repellendus ex similique dolorem ut debitis!</p>