<div class='title'><h1>About</h1>
    <h3>A little bit about me...</h3></div>
<div class='about_content'>
    <div class='author'></div>
    <p><i>O gee.. well.. um, nobody has ever asked me about myself. Hmm.. well,
            i guess everybody tells me i am too small and too slow to make a
            different in this world. But i am making a different in my own
            world, and i hope that is enough &#60;3.</i></p>
    <p>-Snail-</p>
</div>