<div class='title'><h1>You need your help</h1>
    <h3>
You're not alone and we're here to support you</h3></div>
<div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolore,
    sint quia magnam quaerat at molestias consectetur laudantium. Quasi
    accusantium minima sed itaque consectetur? Ratione qui necessitatibus at!
    Qui, vitae?</p>