<div class='title'><h1>Weather</h1>
    <h3>Weather forecasts, nowcasts and history in fast and elegant way</h3></div>
<div class='search'>
    <input id='searchInput' placeholder='Location...' type='text' />
    <button class='searchBtn' disabled>Search</button>
</div>
<div class='weather_details'>
</div>
<script src='./js/home.js'>
</script>