<div class='title'><h1>Weather</h1>
    <h3>Weather forecasts, nowcasts and history in fast and elegant way</h3>
    <p><i>&#40;My app uses data from&nbsp;
            <b><a href='https://www.mapbox.com/' target='_blank'>
                    mapbox</a></b>&nbsp;and&nbsp;
            <b><a href='https://openweathermap.org/.com' target='_blank'>
                    openweathermap</a></b>&#41;</i></p>
</div>
<div class='search'>
    <input id='searchInput' placeholder='Location...' type='text' />
    <button class='searchBtn' disabled>Search</button>
</div>
<div class='weather_details'>

</div>
<script src='./js/home.js'>
</script>